*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0px;
}

body {
  background-image: url(BackgroundImg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

#container {
  min-width: 100vw;
  display: flex;
  justify-content: flex-end;
}

#formContainer {
  width: 45vw;
  min-height: 100vh;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.formHead {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  text-align: center;
}

#logo {
  width: 10rem;
  height: 10rem;
  margin-top: 3vh;
}

.formHeader {
  font-size: 2rem;
}

form {
  display: flex;
  flex-wrap: wrap;
  margin-left: 5vw;
}

.formInputs {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-top: 50px;
  font-size: 1.5rem;
}

.formInputs input {
  width: 65%;
  height: 4vh;
  border: 2px solid gray;
  border-radius: 5px;
  outline: none;
  background-color: rgba(255, 255, 255, 0.094);
}
.formInputs input:focus {
  border: 2px solid black;
}

.formInputs input:valid {
  border: 3px solid rgba(0, 255, 4, 0.604);
  background-color: rgba(0, 255, 4, 0.012);
}

.passwordValidations {
  color: rgb(255, 51, 51);
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-top: 5px;
}

.req {
  color: rgb(255, 51, 51);
}

#submit {
  margin-top: 50px;
}

label {
  font-weight: bold;
}
#characterReq,
#lowerCaseReq,
#upperCaseReq {
  transition: color 0.2s ease-in-out;
}
